@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --positive: 134.6 61.2% 40%;
    --positive-foreground: 210 40% 98%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --positive: 134.6 61.2% 34.1%;
    --positive-foreground: 210 40% 98%;
  }
}

@layer utilities {
  .modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-40;
  }

  .modal-content {
    @apply bg-white rounded-lg shadow-lg p-6 z-50;
  }

  .modal-small {
    @apply max-w-sm w-full;
  }

  .modal-medium {
    @apply max-w-md w-full;
  }

  .modal-large {
    @apply max-w-lg w-full;
  }

  .modal-extra-large {
    @apply max-w-2xl w-full;
  }

  div:has(> .editor-placeholder) {
    @apply absolute pointer-events-none opacity-50;
  }

  .editor-text-underline {
    @apply underline;
  }

  .editor-text-strikethrough {
    @apply line-through;
  }

  .editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
  }

  .editor-code {
    @apply font-mono text-sm;
  }

  .editor-heading-h1 {
    @apply text-4xl font-bold;
  }

  .editor-heading-h2 {
    @apply text-3xl font-bold;
  }

  .editor-heading-h3 {
    @apply text-2xl font-bold;
  }

  .editor-heading-h4 {
    @apply text-xl font-bold;
  }

  .editor-heading-h5 {
    @apply text-lg font-bold;
  }

  .editor-image {
    @apply max-w-full h-auto;
  }

  .editor-link {
    @apply text-blue-500 underline;
  }

  .editor-listitem {
    @apply list-disc list-inside;
  }

  .editor-nested-listitem {
    @apply list-decimal list-inside;
  }

  .editor-list-ol {
    @apply list-decimal list-inside;
  }

  .editor-list-ul {
    @apply list-disc list-inside;
  }

  .ltr {
    @apply text-left;
  }

  .rtl {
    @apply text-right;
  }

  .editor-paragraph {
    @apply mb-4;
  }

  .editor-placeholder {
    @apply text-gray-400;
  }

  .editor-quote {
    @apply border-l-4 border-gray-300 pl-4 italic;
  }

  .editor-text-bold {
    @apply font-bold;
  }

  .editor-text-code {
    @apply font-mono bg-gray-100 p-1 rounded;
  }

  .editor-text-hashtag {
    @apply text-blue-500;
  }

  .editor-text-italic {
    @apply italic;
  }

  .editor-text-overflowed {
    @apply truncate;
  }

  .editor-text-underline {
    @apply underline;
  }

  .editor-text-strikethrough {
    @apply line-through;
  }

  .editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
